    <div class="row">
        <div class="col-xs-12 col-sm-7 col-sm-offset-1">
            <br>
            <div>
                <h3><strong>Web & Mobile Applications Development Company</strong></h3>
                <hr>
            </div>
            
        <div style="padding:30px" class="row"> 
            <p><strong>Milkyway Technologies Limited</strong> is a web and mobile application development company. The company makes use of the new and innovative <strong>Nodejs</strong> development framework for developing responsive websites and hybrid mobile applications.</p>
            <p>Nodejs is a javascript runtime built on Chrome's v8 javascript engine. Nodejs uses an event driven, non blocking I/O model that makes it lightweight and very efficient.</p>
            <p>Node.js is an innovative framework that can be used to make quicker and scalable network applications. Its better forces are skillfulness, lightning fast speed of processing and high scalability.</p>
            <p>Node.js generates better opportunities for endeavors with its new enhanced features. It has become a preferred framework among enterprises that are looking for fast and real-time applications, networked applications, descendible and high traffic driven applications or mobile app that have to talk to platform API with database. Node.js works on a standard code called the event loop unlike other old web application frameworks and this is what helps build it very scalable for real-time apps. Node.js development is a perfect platform to make all types of web applications.</p>
            <p>Node.JS is highly rich in managing dynamic web and big database associated applications and with globalization; no application is likely to carry or target a small audience. Node.js uses the V8 JavaScript engine developed by Google. The V8 JavaScript engine is very fast. There are several of things said and done about 'the next big thing', as it is addressed mostly by the technology enthusiasts.</p> 
            <p>Theoretically, you can call it a run-time environment that works on several platforms for both server-side and networking applications. Written in JavaScript, a Node.js application can work on any Operating system on a native Node.js runtime. This is the reason that the top brands of the world like LinkedIn, Yahoo, Dow Jones, Twitter, eBay are today counting on Node to help them well make fast, climbable network applications.</p>
            
            <p>Node.js shines in real time applications because of WebSocket. WebSocket are open 2-way communication channels between the client and the server. And this makes it really easy to build real-time applications like Games, Cheat Engines and many more.</p>
            <p>Node is opted by enterprises for data demanding application and products. Node.js development is alimented by an environment which encourages the reuse of codes. It helps every developer to build web applications quickly using Node.js. It is a tremendous platform in many aspects.</p>
        <br>    
        <h3 class=""><strong>Node.js can be used to build</strong></h3>
        <ul>
            <li>Real Time Tracking Applications</li>
            <li>Game Apps</li>
            <li>Data Streaming Apps</li>
            <li>Rest/Json APIs</li>
            <li>Single Page Apps</li>
        </ul>
        And Many others..
        <br><br>
        <h3 class=""><strong>Some of the interesting features of Node.js Development</strong></h3>
        <ul>
            <li>Highly Productive Websites</li>
            <li>Accelerated Development</li>
            <li>Less Parsing Time</li>
            <li>Server Side and Networking Applications</li>
            <li>Easy to Customize and Extensible apps</li>
            <li>Cloud Scalability</li>
            <li>Easy to Install and Execute</li>
            <li>Cross-Platform Compatibility</li>
            <li>Non-Blocking and Event Driven I/O model</li>
            <li>Ability to Handle eCommerce Websites</li>
            <li>Support Service and Applications</li>
            <li>API Integration and Development</li>
        </ul>
        <br><br>
        </div>            
            
        </div>

        <div class="col-xs-12 col-sm-3">
            <br>
            <div>
                <h3><strong>Quick Enquiry</strong></h3>
                <hr>
            </div>
            
            <form class="form-horizontal" style="padding:30px; background-color: #edeff7" role="form" name="contactusForm" ng-submit="sendInformation()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : contactusForm.name.$error.required && !contactusForm.name.$pristine }">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="contactus.name" required>
                          <span ng-show="contactusForm.name.$error.required && !contactusForm.name.$pristine" class="help-block">Name is required</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : contactusForm.email.$error.required && !contactusForm.email.$pristine }">
                    <div class="col-sm-12">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="contactus.email" required>
                          <span ng-show="contactusForm.email.$error.required && !contactusForm.email.$pristine" class="help-block">Email is required</span>
                          <span ng-show="contactusForm.email.$invalid && !contactusForm.email.$pristine" class="help-block">Enter a valid email address</span>
                    </div>
                </div>       
                <div class="form-group" ng-class="{ 'has-error' : contactusForm.phone.$error.required && !contactusForm.phone.$pristine }">
                    <div class="col-sm-12">
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone" ng-model="contactus.phone" required>
                          <span ng-show="contactusForm.phone.$error.required && !contactusForm.phone.$pristine" class="help-block">Phone number is required</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : contactusForm.subject.$error.required && !contactusForm.subject.$pristine }">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="contactus.subject" required>
                          <span ng-show="contactusForm.subject.$error.required && !contactusForm.subject.$pristine" class="help-block">Subject is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                            <textarea class="form-control" id="comments" name="comments" rows="12" placeholder="Message"
                                ng-model="contactus.comments"></textarea>
                                <br>
                    </div>
                </div>
                <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-disabled="contactusForm.$invalid">Send Enquiry</button>
                        </div>
                </div>
            </form>
        </div>
    </div>